@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

@font-face {
  font-family: 'bulky pixels';
  src: url('./fonts/BULKYPIX.TTF');
}

@font-face {
  font-family: 'pixel';
  src: url('./fonts/Pixel.ttf');
}

@font-face {
  font-family: 'mobile font';
  src: url('./fonts/MobileFont.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}