.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 5vw;
}

.socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.socials i {
  color: white;
  font-size: 1.8rem;
}

.socials a {
  display: inline-block;
}

.socials a:nth-child(2) {
  margin-left: 1.2rem;
  margin-right: .5rem;
}

.opensea-badge {
  width: 10rem;
}

.logo {
  font-family: 'bulky pixels';
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: .5rem;
}

.logo-link {
  text-decoration: none;
  color: white;
}

.nav-links {
  font-family: 'Nanum Brush Script', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  display: inline-block;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #318260;
}

.btns {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btns button {
  background-color: transparent;
  padding: .6rem 1rem;
  font-family: 'bulky pixels';
  font-size: .9rem;
  border: 2px solid #2858b1;
  border-radius: .5rem;
  cursor: pointer;
  margin-left: .5rem;
  color: #2858b1;
  transition: all .2s ease-in-out;
}

.btns button:hover {
  border: 2px solid white;
  color: white;
}