.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1.5rem 5vw;
  /* position: sticky; */
  /* top: 0; */
  box-shadow: 0 2px 5px #8a8a8a;
}

.logo {
  font-family: 'bulky pixels';
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-lk {
  text-decoration: none;
  color: #318260;
}

.nav-links {
  font-family: 'Nanum Brush Script', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  display: inline-block;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #318260;
}

.btns {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ext-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ext-links a{
  display: inline-block;
  margin: 0 .5rem;
  font-size: 1.5rem;
}

.ext-links a:nth-child(1) {
  color: #7289da;
}
.ext-links a:nth-child(2) {
  color: #00acee;
}

.ext-links img {
  width: 1.8rem;
}

.btns button {
  background-color: white;
  padding: .6rem 1rem;
  font-family: 'bulky pixels';
  font-size: .9rem;
  border: 1px solid #318260;
  border-radius: .5rem;
  cursor: pointer;
  margin-left: .5rem;
  color: #318260;
  transition: all .3s ease-in;
}

.btns button:hover {
  background-color: #318260;
  color: white;
}